@media all and (min-width:320px){
  .line1{
    margin: 3% auto;
  }
  .opening{
    font-size:10pt;
  }
}

@media all and (min-width:375px){
  .line1{
    margin: 4% auto;
  }
}

@media all and (min-width:768px){
  .line1{
    /* margin: 5% auto; */
  }
  .opening{
    font-size:13pt;
  }
}

html, body{
  height:100%;
  background-image: url('../img/backkkk.jpg');
}

section{
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 100% 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section h1{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 24pt;
  color : white;
}

.opening{
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url('../img/paper.png');
  height: 55%;
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.line1{
  width:80px;
  height: 5px;
  background-color: darkblue;
}

section a{
  text-decoration: none;
}

.btn_open{
  background-color: darkblue;
  width:150px;
  height: 50px;
  line-height: 50px;
  border-radius:10px;
  margin: auto;
  box-shadow: 5px 5px 3px #aaaaaa;
  text-decoration: none;
  color : lightgray;
}

.btn_open:hover{
  color:white;
  text-decoration: none;
}

.btn_open:active{
  text-decoration: none;
}
