@media all and (min-width:500px){
  section img{
    width: 480px;
  }
}

@media all and (max-width:500px){
  section img{
    width:90%;
  }
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #c0cdef;
}

section{
  height: 100%;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section img{
  height: auto;
  margin:0 auto;
}

section a{
  text-decoration: none;
}

.btn_open{
  background-color: darkblue;
  width:150px;
  height: 50px;
  line-height: 50px;
  border-radius:10px;
  margin: 20px auto;
  box-shadow: 5px 5px 3px #aaaaaa;
  text-decoration: none;
  color : lightgray;
}

.btn_open:hover{
  color:white;
  text-decoration: none;
}

.btn_open:active{
  text-decoration: none;
}
