html, body{
  margin-bottom: 50px;
}

section{
  height: 93%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 100% 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section h1{
  margin-top: 100px;
  font-family: 'Nanum Myeongjo', serif;
}

section h3{
  font-family: 'Nanum Myeongjo', serif;
}

.res_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 750px) {
  .res_container { display: block; }
}

@media (max-width: 400px) {
  .res_list { width: 280px; }
}

@media (min-width: 400px) {
  .res_list { width: 350px; }
}

.res_list{
  height: 520px;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url('../img/paper.png');
  margin: 20px;
  padding: 15px;
}

.res_list h2{
  font-family: 'Nanum Myeongjo', serif;
}

.res_list p{
  text-align: justify;
  font-family: 'Noto Sans KR', sans-serif;
}

.iconsrc{
  color: lightgray;
  font-size: 8pt;
}

.iconsrc a{
  text-decoration: none;
  color: lightgray;
}

section .btnlist{
  width:300px;
  margin: auto;
}

.btnlist img, button{
  width: 120px;
  height: 38px;
  margin: 0 auto;
}
