  /* song-myung-regular - latin_korean */
@font-face {
  font-family: 'Song Myung';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/song-myung-v5-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Song Myung Regular'), local('SongMyung-Regular'),
       url('../fonts/song-myung-v5-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/song-myung-v5-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/song-myung-v5-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/song-myung-v5-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/song-myung-v5-latin_korean-regular.svg#SongMyung') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v8-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('../fonts/noto-sans-kr-v8-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v8-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v8-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v8-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v8-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

html, body {
  margin: 0px;
  background-color: #CED8F6;
}

nav{
  height : 8%;
  width: 100%;
  background-color: black;
  position:fixed;
}

nav a img{
  display: block;
  margin: 0px auto;
  height: 92%;
  padding-top: 0.5%;
}

#loading {
 width: 100%;  
 height: 100%;
 top: 0px;
 left: 0px;
 position: fixed;
 display: block;
 opacity: 0.7;
 background-color: #fff;
 z-index: 99;
 text-align: center; }

#loading-image {
 position: absolute;
 top: 50%;
 left: 50%;
 z-index: 100; }
