  /* song-myung-regular - latin_korean */
@font-face {
  font-family: 'Song Myung';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/song-myung-v5-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Song Myung Regular'), local('SongMyung-Regular'),
       url('../fonts/song-myung-v5-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/song-myung-v5-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/song-myung-v5-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/song-myung-v5-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/song-myung-v5-latin_korean-regular.svg#SongMyung') format('svg'); /* Legacy iOS */
}

html, body {
  margin: 0px;
  height:100%;
  background-color: #CED8F6;
}

nav{
  height : 8%;
  width: 100%;
  background-color: black;
  position:fixed;
}

nav a img{
  display: block;
  margin: 0px auto;
  height: 92%;
  padding-top: 0.5%;
}
